@import url("https://rsms.me/inter/inter.css");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --background-image-glow-conic: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );
}

html,
body,
#root {
  height: 100%;
}

body {
  color: white;
  background: black;
  font-family: var(--font-sans);
}
