@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-Thin.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-ThinItalic.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-Light.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-Regular.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-Italic.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-Bold.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-Black.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("./assets/fonts/AkkuratLLWeb-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/AkkuratLLWeb-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
