# DEFAULTS
NEXT_PUBLIC_DEPLOYMENT_ENV="mainnnet"
NEXT_PUBLIC_DEFAULT_API_URL="https://aa.xion-testnet-1.burnt.com"
NEXT_PUBLIC_DEFAULT_INDEXER_URL="https://api.subquery.network/sq/burnt-labs/xion-indexer"
NEXT_PUBLIC_DEFAULT_STYTCH_PUBLIC_TOKEN="public-token-live-87901ec3-ef19-48ca-b3f4-842be750181b"
NEXT_PUBLIC_DEFAULT_CHAIN_INFO="{"rpc":"https://testnet-rpc.xion-api.com:443","rest":"https://testnet-api.xion-api.com:443","chainId":"xion-testnet-1","chainName":"Xion Testnet","bip44":{"coinType":118},"bech32Config":{"bech32PrefixAccAddr":"xion","bech32PrefixValAddr":"xionvaloper","bech32PrefixValPub":"xionvaloperpub","bech32PrefixAccPub":"xionpub","bech32PrefixConsAddr":"xionvalcons","bech32PrefixConsPub":"xionvalconspub"},"stakeCurrency":{"coinDenom":"XION","coinMinimalDenom":"uxion","coinDecimals":6,"gasPriceStep":{"low":0.01,"average":0.025,"high":0.03}},"currencies":[{"coinDenom":"XION","coinMinimalDenom":"uxion","coinDecimals":6,"gasPriceStep":{"low":0.01,"average":0.025,"high":0.03}}],"feeCurrencies":[{"coinDenom":"XION","coinMinimalDenom":"uxion","coinDecimals":6,"gasPriceStep":{"low":0.01,"average":0.025,"high":0.03}}],"features":["cosmwasm"]}"