# DEFAULTS
NEXT_PUBLIC_DEFAULT_RPC_URL="https://testnet-rpc.xion-api.com:443"
NEXT_PUBLIC_DEFAULT_API_URL="https://aa.xion-testnet-1.burnt.com"
NEXT_PUBLIC_DEFAULT_INDEXER_URL="https://api.subquery.network/sq/burnt-labs/xion-indexer"
NEXT_PUBLIC_DEFAULT_STYTCH_PUBLIC_TOKEN="public-token-live-87901ec3-ef19-48ca-b3f4-842be750181b"
