@import "tailwindcss";

@theme {
  /* Custom background image for glow-conic */
  --background-image-glow-conic: conic-gradient(from 180deg at 50% 50%, #2a8af6 0deg, #a853ba 180deg, #e92a67 360deg);
}

body {
  color: white;
  background: black;
}
