EXPO_PUBLIC_CHAIN_ID=xion-testnet-2
EXPO_PUBLIC_RPC_URL=https://rpc.xion-testnet-2.burnt.com
EXPO_PUBLIC_REST_URL=https://api.xion-testnet-2.burnt.com
EXPO_PUBLIC_GAS_PRICE=0.001uxion
EXPO_PUBLIC_TREASURY_ADDRESS=
